.container {
    /* transform: translateY(-100%); */
    margin-top: 100px;
}

.container p {
    color: red;
    text-align: center;
}

.drop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80vw;
    height: 200px;
    border: 4px dashed #4aa1f3;
    transition: 500ms;
}

.drop-container:hover{
    opacity: 0.6;
    transition: 500ms;
}

.upload-icon {
    width: 50px;
    height: 50px;
    /* background: url(../images/upload.png) no-repeat center center;  */
    background-size: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.drop-message {
    text-align: center;
    color: #4aa1f3;
    font-family: Arial;
    font-size: 20px;
}